<main id='Edit your profile'>
  <section>
    <form action="/profiles/{{ user._id }}/edit" method="POST">
     
      <img src="{{user.avatar}}" alt="user-avatar">
      <br/>
      <input type="text" placeholder="place a new URL for your avatar" name="avatar" value="{{ user.avatar }}">

      <p>
        <input type="text" placeholder="Edit username" required name="username" value="{{ user.username }}" />
      </p>

      <div>
        <p>
          <input type="text" placeholder="Edit quote" name="quote" value="{{ user.quote }}" />
        </p>
      </div>

      <button type="submit">Update Profile</button>

    </form>
    {{ msg }}

  </section>


  {{#if user.groups}}
  <section>
    <h2>My Groups</h2>
    {{#each user.groups}}
    <img src="{{this.image}}" alt="group-image">
    {{/each}}
  </section>
  {{/if}}
</main>