<main id='profile'>
  <section>
    <img src="{{user.avatar}}" alt="user-avatar">
    <p>{{user.username}}</p>

    <div>
      <p>{{user.quote}}</p>
    </div>

    <a href="/profile/edit">Edit Profile</a>
  </section>

  <a href="/groups/new">Create a group</a>

  {{#if user.groups}}

  <section>
    <h2>My Groups</h2>
    {{#each user.groups}}
    <a href="/groups/{{this._id}}"><img src="{{this.image}}" alt="group-image"></a>
    {{/each}}
  </section>
  {{/if}}
</main>