<main id='profile'>
  <section class>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-5 offset-md-2">
          <div class="user-info">
            <img src="{{user.avatar}}" class="user-avatar mb-3" alt="user-avatar">
            <h3 class="accordion accordion-flush">{{user.username}}</h3>
            <p class="accordion accordion-flush">{{user.quote}}</p>
            <a href="/profile/edit" class="btn btn-secondary">Edit Profile</a>
            <a href="/groups/new" class="btn btn-warning">Create a group</a>
          </div>
        </div>
        <div class="col-md-3">
          {{#if friends}}
          <div class="mt-5">
            <h4 class="mb-3">My Friends:</h4>
            <div class="d-flex flex-wrap">
              {{#each friends}}
              <div class="d-flex flex-column mr-3">
                <img src="{{this.avatar}}" class="friends-image" alt="friend-image">
                <p class="friends-name d-flex justify-content-center">{{this.username}}</p>
              </div>
              {{/each}}
            </div>
            {{/if}}
            {{#if user.groups}}
            {{#unless friends}}
            <div class="w-100 mt-5 d-flex justify-content-center">
              <div class="card empty-page">
                <div class="card-body lead">
                  So much space here? Add some friends to your groups!
                </div>
              </div>
            </div>
            {{/unless}}
            {{/if}}
          </div>
        </div>
        <div class="col-md-2">
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 offset-md-2">
          <div class="group-info">
            {{#if user.groups}}
            <h4>My Groups:</h4>
            {{/if}}
          </div>
        </div>
        <div class="col-md-6"></div>
      </div>
      {{#unless user.groups}}
      <div class="w-100 mt-5 d-flex justify-content-center">
        <div class="card empty-page">
          <div class="card-body lead">
            Looks like a lot of empty space here. Create a group and add some friends.
          </div>
        </div>
      </div>
      {{else}}
      <div class="row">
        <div class="col-md-10 offset-md-2">
          <div class="my-groups">
            {{#each user.groups}}
            <a class="d-flex flex-column mr-3" href="/groups/{{this._id}}">
              <img src="{{this.image}}" class="my-groups-image" alt="group-image">
              <p class="friends-name d-flex justify-content-center">{{this.groupName}}</p>
            </a>
            {{/each}}
          </div>
        </div>
      </div>
      {{/unless}}
    </div>
  </section>
</main>