<main id='profile'>
  <section class>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3 offset-md-2">
          <div class="user-info">
            <img src="{{user.avatar}}" class="user-avatar mb-3" alt="user-avatar">
            <h3 class="accordion accordion-flush">{{user.username}}</h3>
            <p class="accordion accordion-flush">{{user.quote}}</p>
            <a href="/profile/edit" class="btn btn-secondary">Edit Profile</a>
            <a href="/groups/new" class="btn btn-warning">Create a group</a>
          </div>
        </div>
        <div class="col-md-5 offset-md-2">
          <div class="friends-container">
            {{#if friends}}
            <p class="friend-name">My Friends:</p>
              <div class="friends-container-margin">
                {{#each friends}}
                <img src="{{this.avatar}}" class="friends-image" alt="friend-image">
                <p class="friends-name">{{this.username}}</p>
                {{/each}}
              </div>
            {{/if}}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 offset-md-2">
          <div class="group-info">
            {{#if user.groups}}
            <h4>My Groups:</h4>
            {{/if}}
          </div>
        </div>
        <div class="col-md-6"></div>
      </div>
      {{#if user.groups}}
      <div class="row">
        <div class="col-md-10 offset-md-2">
          <div class="my-groups">
            {{#each user.groups}}
            <a href="/groups/{{this._id}}">
              <img src="{{this.image}}" class="my-groups-image" alt="group-image">
            </a>
            {{/each}}
          </div>
        </div>
      </div>
      {{/if}}
    </div>
  </section>
</main>