<main id='editGroup'>

  <section>
    <h1>Edit your group!</h1>

    {{#if msg}}
    <div>{{msg}}</div>
    {{/if}}

    <form action="/groups/{{group.groupName}}/update" method="POST">
      <label for="image"></label>
      <input type="text" placeholder="place a new URL for your avatar" name="image" value="{{ group.image }}">

      <label for="groupName">Group Name:</label>
      <input type="text" placeholder="groupName" required name="groupName" value="{{ group.groupName }}" />

      <label for="description">What's your group about?</label>
      <input type="text" placeholder="Add a description of your group!" name="description"
        value="{{group.description}}">

      <button type="submit">Update</button>
    </form>
  </section>
</main>