<main id='newGroup'>
  <header>
    <img src="{{group.image}}" alt="group-image">
  </header>

  <section>
    <h1>Create a new group!</h1>

    {{#if msg}}
    <div>{{msg}}</div>
    {{/if}}

    <form action="/profile/groups/create" method="POST">
      <label for="image"></label>
      <input type="url" placeholder="place a new URL for your avatar" name="avatar" value="{{ group.image }}">

      <label for="groupName">Group Name:</label>
      <input type="text" placeholder="groupName" required name="groupName" value="{{ group.groupName }}" />

      <label for="description">What's your group about?</label>
      <input type="text" placeholder="Add a description of your group!" name="description"
          value="{{group.description}}">

      <button type="submit">Create</button>
    </form>
  </section>
