<main id='group'>
  <!-- <section> -->
  <div class"container">
    <div class="row">
      <div class="col-md-12">
        <nav class="mt-3 ml-3" aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/profile">Home</a></li>
            <li class="breadcrumb-item">Group "{{group.groupName}}"</li>
          </ol>
        </nav>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 offset-md-2">
        <img class="movies-avatar mb-3" src="{{group.image}}" alt="group-image">
        <h3 class="group-title">{{group.groupName}}</h3>
        <p class="group-title">{{group.description}}</p>
        <a href="/groups/{{group._id}}/edit" class="btn btn-secondary">Edit Group</a>
        <a href="/groups/{{group._id}}/movies/new" class="btn btn-warning new-movies-link">
          Add new movie</a>
      </div>
      <div class="col-md-2">
      </div>
      <div class="col-md-5">
        <p class="text-members">Members:</p>
        {{#each members}}
        <div class="member-container">
          <div class="members-image">
            <img src="{{this.avatar}}" class="members-image" alt="{{this.username}}-avatar">
          </div>
          <p class="members-name">{{this.username}}</p>
        </div>
        {{/each}}
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-md-10 offset-md-2">
        {{#if movies}}
        <a href="/groups/{{group._id}}/movies/" class="btn btn-sm btn-warning">Show all movies</a>
        {{/if}}
      </div>
    </div>

    <div class="row">
      <div class="col-md-10 offset-md-2 index-movies-list ">

        {{#each movies}}
        <a class="movie-title" href="/groups/{{../group._id}}/movies/{{this._id}}">
          <img class="movie-image" src="{{this.image}}" alt="{{this.title}}-preview-image">
          <p class="text-break">{{this.title}} ({{this.year}})</p>
        </a>
        {{/each}}
      </div>
    </div>
  </div>
  <!--</section>-->
</main>