<main id='group'>
  <section>
    <img src="{{group.image}}" alt="group-image">
    <h1> {{group.groupName}}</h1>
    <a href="/groups/{{group._id}}/edit">Edit Group</a>
  </section>

  <section>
    <a href="/groups/{{group._id}}/movies/new">Add new movie</a>

    {{#each movies}}
    <a href="/groups/{{../group._id}}/movies/{{this._id}}">
      <img src="{{this.image}}" alt="{{this.title}}-preview-image">
      {{this.title}}
    </a>
    {{/each}}

    <a href="/groups/{{group._id}}/movies/">Show all movies</a>
  </section>
</main>