<main id='group'>
  <section>
    <div class"container">
      <div class="row">
        <div class="col-md-4 offset-md-1 profile-info">
          <img class="movies-avatar" src="{{group.image}}" alt="group-image">
          <h3 class="group-title"> {{group.groupName}}</h3>
          <p class="group-title"> {{group.description}}</p>
          <p><a href="/groups/{{group._id}}/edit" class="btn btn-secondary">Edit Group</a></p>
          <a href="/groups/{{group._id}}/movies/" class="btn btn-warning">Show all movies</a>
          <a href="/groups/{{group._id}}/movies/new" class="btn btn-warning new-movies-link">
            Add new movie</a>
        </div>
        <div class="col-md-2">
        </div>
        <div class="col-md-5">
          <section>
            {{#each members}}
            <img src="{{this.avatar}}" alt="{{this.username}}-avatar">
            {{/each}}
          </section>

          <section>
            <a href="/groups/{{group._id}}/movies/new">Add new movie</a>

            {{#each movies}}
            <a href="/groups/{{../group._id}}/movies/{{this._id}}">
              <img src="{{this.image}}" alt="{{this.title}}-preview-image">
              {{this.title}}
            </a>
            {{/each}}
          </section>
        </div>
      </div>
      <div class="row">
        <div class="col-md-11 offset-md-1 movies-list ">
          {{#each movies}}
          <a class=" movie-title" href="/groups/{{../group._id}}/movies/{{this._id}}">
            <img class="movie-image" src="{{this.image}}" alt="{{this.title}}-preview-image">
            <p class="text-break">{{this.title}}</p>
          </a>
          {{/each}}
        </div>
      </div>
    </div>
  </section>
</main>