<main id='group'>
  <div class"container">
    <div class="row">
      <div class="col-md-12">
        <nav class="mt-3 ml-3" aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/profile">Home</a></li>
            <li class="breadcrumb-item">Group "{{group.groupName}}"</li>
          </ol>
        </nav>
      </div>
    </div>

    <div class="row">
      <div class="col-md-5 offset-md-2">
        <img class="group-image mb-3" src="{{group.image}}" alt="group-image">
        <h3 class="group-title">{{group.groupName}}</h3>
        <p class="group-title">{{group.description}}</p>
        <a href="/groups/{{group._id}}/edit" class="btn btn-secondary">Edit your Group</a>
        <a href="/groups/{{group._id}}/movies/new" class="btn btn-warning new-movies-link">
          Add new movie</a>
      </div>

      <div class="col-md-3">
        {{#if members}}
        <div>
          <h4 class="mb-3">Members</h4>
          <div class="d-flex">
            {{#each members}}
            <div class="d-flex flex-column mr-3">
              <img src="{{this.avatar}}" class="friends-image" alt="friend-image">
              <p class="friends-name d-flex justify-content-center">{{this.username}}</p>
            </div>
            {{/each}}
          </div>
        </div>
        {{/if}}
      </div>
      <div class="col-md-2">
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-md-10 offset-md-2 ">
        <h4 class="mb-3"> Movies </h4>
      </div>
    </div>
    <div class="row mb-5">
      <div class="col-md-8 offset-md-2 d-flex flex-wrap">
        {{#each movies}}
        <a href="/groups/{{../group._id}}/movies/{{this._id}}">
          <div class="card movie-card p-2 mr-3 mb-5">
            <img class="card-img-top" src="{{this.image}}" alt="{{this.title}}-preview-image">
            <div class="card-body">
              <p class="card-text">{{this.title}} ({{this.year}})</p>
            </div>
          </div>
        </a>
        {{/each}}
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</main>