<main id='editMovie'>
  <section>
    <h1>Update movie</h1>

    {{#if msg}}
    <div>{{msg}}</div>
    {{/if}}

    <form action="/groups/{{groupId}}/movies/{{movie._id}}/update" method="POST" enctype="multipart/form-data">
      <label for="title">Title:</label>
      <input name="title" type="text" placeholder="Add movies title" value="{{ movie.title }}" />

      <label for="plot">Plot:</label>
      <input name="plot" type="text" placeholder="Add some info about the plot" value="{{ movie.plot}}" />

      <label for="genre">Title:</label>
      <input name="genre" type="text" placeholder="Add a genre" value="{{ movie.genre }}" />

      <label for="director">Director:</label>
      <input name="director" type="text" placeholder="Add a director" value="{{ movie.director }}" />

      <img src="{{movie.image}}" alt="movie-preview-image">
      <input name="image" type="file" accept="image/png image/jpg image/jpeg">

      <label for="trailer">Trailer:</label>
      <input name="trailer" type="url" placeholder="Add an URL for a trailer" value="{{ movie.trailer }}">

      <button type="submit">Update</button>
    </form>
  </section>
</main>