<main id='newMovie'>
  <section>
    <h2 class="new-movie-title">Update movie</h2>

    {{#if msg}}
    <div>{{msg}}</div>
    {{/if}}

    <form action="/groups/{{groupId}}/movies/{{movie._id}}/update" method="POST" enctype="multipart/form-data">
      <!-- send old image as hidden field due to rerendering -->
      <input name="oldImg" type="hidden" value="{{ movie.image }}">

      <img class="edit-movies-avatar" src="{{movie.image}}" alt="movie-preview-image">
      <input class="form-control form-control-sm text-form" name="image" type="file"
        accept="image/png image/jpg image/jpeg">

      <label for="title">Title:</label>
      <input class="form-control text-form" name="title" type="text" placeholder="Add movies title"
        value="{{ movie.title }}" />

      <label for="trailer">Trailer:</label>
      <input class="form-control text-form" name="trailer" type="url" placeholder="Add an URL for a trailer"
        value="{{ movie.trailer }}">

      <label for="plot">Plot:</label>
      <input class="form-control text-form" name="plot" type="text" placeholder="Add some info about the plot"
        value="{{ movie.plot}}" />

      <label for="genre">Genre:</label>
      <input class="form-control text-form" name="genre" type="text" placeholder="Add a genre"
        value="{{ movie.genre }}" />

      <label for="director">Director:</label>
      <input class="form-control text-form" name="director" type="text" placeholder="Add a director"
        value="{{ movie.director }}" />

      <label for="cast">Cast:</label>
      <input class="form-control text-form" name="cast" type="text" placeholder="add some actors"
        value="{{ movie.cast }}" />
        
      <label for="year">Year:</label>
      <input class="form-control text-form" name="year" type="number" min="1900" max="2025" step="1"
        placeholder="add a year" value="{{ movie.year }}" />

      <button class="btn btn-warning signin-bottom" type="submit">Update</button>
    </form>
  </section>
</main>