<main class='formPage'>
  <section>    
    <h1 class="mt-5 d-flex justify-content-center">Add a movie</h1>
  </section>

  <section class="mt-5">
    {{#if msg}}
    <div  class="alert alert-warning" role="alert">{{ msg }}</div>
    {{/if}}

    <form action="/groups/{{groupId}}/movies/create" method="POST" enctype="multipart/form-data">
      <div class="mb-3">
        <label for="title">Title:</label>
        <input class="form-control text-form" name="title" type="text" placeholder="Add movies title"
          value="{{ movie.title }}" />
      </div>

      <div class="mb-3">
        <label for="year">Year:</label>
        <input class="form-control text-form" name="year" type="number" min="1900" max="2025" step="1"
          placeholder="Add a year" value="{{ movie.year }}" />
      </div>

      <div class="mb-3">
        <label for="director">Director:</label>
        <input class="form-control text-form" name="director" type="text" placeholder="Add a director"
          value="{{ movie.director }}" />
      </div>

      <div class="mb-3">
        <label for="cast">Cast:</label>
        <input class="form-control text-form" name="cast" type="text" placeholder="Add some actors"
          value="{{ movie.cast }}" />
      </div>

      <div class="mb-3">
        <label for="plot">Plot:</label>
        <textarea class="form-control text-form" name="plot" type="text" placeholder="Add some info about the plot"
          rows="3">{{ movie.plot}}</textarea>
      </div>

      <div class="mb-3">
        <div class="input-group">
          <div class="custom-file">
            <input name="image" type="file" class="custom-file-input" id="inputGroupFile01"
              aria-describedby="inputGroupFileAddon01" accept="image/png image/jpg image/jpeg">
            <label class="custom-file-label" for="inputGroupFile01">Choose preview image</label>
          </div>
        </div>
      </div>

      <div class="mb-3">
        <label for="trailer">Trailer:</label>
        <input class="form-control text-form" name="trailer" type="url" placeholder="Add an URL for a trailer"
          value="{{ movie.trailer }}">
      </div>

      <div class="mb-3">
        <label for="genre">Genre:</label>
        <input class="form-control text-form" name="genre" type="text" placeholder="Add a genre"
          value="{{ movie.genre }}" />
      </div>

      <div class="d-flex justify-content-between">
        <button class="btn btn-warning edit-profile-btn" type="submit">Create</button>
        <a class="btn btn-outline-warning edit-profile-btn" href="/groups/{{groupId}}">Cancel</a>
      </div>
    </form>
  </section>
</main>