<section>
  <h1>{{movie.title}}</h1>
  <a href="/groups/{{groupId}}/movies/{{movie._id}}/edit">Edit movie</a>
</section>

<section>
  <video src="{{movie.trailer}}"></video>
</section>

<section>
  <p>{{movie.plot}}</p>
</section>

<section>
  <p>{{movie.director}}</p>
  <p>{{movie.genre}}</p>
</section>