<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <nav class="mt-3 ml-3" aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/profile">Home</a></li>
          <li class="breadcrumb-item"><a href="/groups/{{groupId}}">Group"</a></li>
          <li class="breadcrumb-item"><a href="/groups/{{groupId}}/movies">Movies</a></li>
          <li class="breadcrumb-item">Movie "{{movie.title}}"</li>
        </ol>
      </nav>
    </div>
  </div>
</div>

<main id="movies-show">
  <section class="movie-container">
    <div>
      <h2 class="movie-show-title">{{movie.title}} {{#if movie.year}} ({{movie.year}}) {{/if}} </h2>
    </div>
    <div>
      <a class="btn btn-secondary edit-btn-movie btn-sm" href="/groups/{{groupId}}/movies/{{movie._id}}/edit">edit</a>
    </div>
  </section>

  <section class="trailer my-5">
    <!-- ToDo: Refactor. Use uploaded videos because of Cross-Origin Read Blocking (CORB) -->
    <video controls>
      <source src="{{movie.trailer}}" type="video/mp4">
    </video>
  </section>

  <section>
    <p class="lead"> {{movie.plot}} </p>
    <p class="lead mt-5">Director: {{movie.director}}</p>
    <p class="lead">Cast: {{movie.cast}}</p>
    <p class="lead"> Genre: {{movie.genre}}</p>
  </section>
</main>